.movie-card {
  width: 210px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.movie-card__poster {
  height: 300px;
  width: 100%;
}

.movie-card__info {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.movie-card__description {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.movie-card__title {
  font-size: 13px;
  max-width: 150px;
}

.movie-card__release-date {
  font-size: 10px;
}

.movies-list__link {
  text-decoration: none;
}

.movie-card_type_small {
  width: 160px;
  row-gap: 5px;
}

.movie-card__poster_type_small {
  height: 230px;
}
