.movie {
  width: 100%;
  padding: 10px 30px 30px;
  display: flex;
  flex-direction: column;
}

.movie__title {
  padding: 20px 0;
}

.movie__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 30px;
  padding: 10px 0 50px;
}

.movie__description-text {
  margin-bottom: 30px;
}

.movie__poster {
  max-width: 400px;
  max-height: 650px;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .movie__info {
    flex-direction: column;
    row-gap: 30px;
  }

  .movie__poster {
    align-self: center;
  }
}
