.pagination-list {
  width: min-content;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
  align-self: center;
}

.pagination-list__previous,
.pagination-list__next {
  width: 24px;
  height: 24px;
}

.pagination-list__previous,
.pagination-list__next,
.pagination-list__page-number {
  border: none;
  background: none;
}

.pagination-list__previous {
  background-image: url('../../assets/arrow-sm-left.svg');
}

.pagination-list__next {
  background-image: url('../../assets/arrow-sm-right.svg');
}

.pagination-list__container {
  list-style-type: none;
  width: min-content;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

.pagination-list__page-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 8px;
  color: #fff;
  font-family: var(--font-family-lato);
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  transition: 0.3s ease-in-out;
}

.pagination-list__page-number_active {
  background: #fff;
  color: #000;
}
